<div class="login-block">
  <div class="container">
    <div class="login-sec">
      <div class="d-flex justify-content-center"><h2>User Profile</h2></div>
      <div class="col">
        <div class="row">
          <form (ngSubmit)="updateProfile()">
            <div class="form-group row">
              <label for="username">Username</label>
              <input id="username" [(ngModel)]="user.username" name="username" class="form-control" required />
            </div>
            <div class="form-group row">
              <label for="email">Email</label>
              <input id="email" [(ngModel)]="user.email" name="email" class="form-control" required />
            </div>
            <div class="form-group row">
              <label for="firstname">First Name</label>
              <input id="firstname" [(ngModel)]="user.firstname" name="firstname" class="form-control" required />
            </div>
            <div class="form-group row">
              <label for="lastname">Last Name</label>
              <input id="lastname" [(ngModel)]="user.lastname" name="lastname" class="form-control" required />
            </div>
            <div class="form-group row">
              <label for="phonenumber">Phone Number</label>
              <input id="phonenumber" [(ngModel)]="user.phonenumber" name="phonenumber" class="form-control" required />
            </div>
            <div class="row">
              <button type="submit" class="btn btn-login">Update Profile</button>
            </div>
            <div *ngIf="updateSuccess" class="alert alert-success row">Profile updated successfully!</div>
            <div *ngIf="updateError" class="alert alert-danger row">Error updating profile.</div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
