<div class="container-fluid d-flex justify-content-center mt-2">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center" *ngFor="let reservation of reservations">
      <div class="card mb-3 card-hover text-center" style="width: 18rem;">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">Reservation ID: {{ reservation.ResID }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Username: {{ reservation.username }}</h6>
          <p class="card-text">
            <strong>Table ID:</strong> {{ reservation.TableID }}<br>
            <strong>Date:</strong> {{ reservation.Date | date }}<br>
            <strong>Time:</strong> {{ reservation.Time }}<br>
          </p>
          <button class="btn btn-dark mt-auto" (click)="openReservationDetails(reservation, reservationDetails)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #reservationDetails let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Reservation Details</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p><strong>Reservation ID:</strong> {{ selectedReservation?.ResID }}</p>
    <p><strong>User ID:</strong> {{ selectedReservation?.UserID }}</p>
    <p><strong>Username:</strong> {{ selectedReservation?.username }}</p>
    <p><strong>Table ID:</strong> {{ selectedReservation?.TableID }}</p>
    <p><strong>Date:</strong> {{ selectedReservation?.Date | date }}</p>
    <p><strong>Time:</strong> {{ selectedReservation?.Time }}</p>
    <p><strong>Number of Customers:</strong> {{ selectedReservation?.NumOfCustomers }}</p>
    <p><strong>Reservation Type:</strong> {{ selectedReservation?.ReservationType }}</p>
    <p><strong>Time Expected to Leave:</strong> {{ selectedReservation?.TimeExpectedToLeave }}</p>
    <button type="button" id="cancel"  class="btn btn-danger" (click)="deleteReservation(selectedReservation?.ResID, modal)">Cancel Reservation</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
