
/*.layout {*/
/*  display: flex;*/

/*  background-color: #f0e6d7;*/
/*}*/



/*.main-content {*/
/*  flex: 1; !* Takes up the remaining space *!*/
/*  padding: 20px; !* Add padding around the content *!*/
/*  background-color: #f0e6d7;*/

/* !*margin-left: -50px;*!*/
/*}*/


/*.container {*/
/*  margin-top: 0; !* Adjust margin to align with your design *!*/
/*}*/


.btn-outline-success {
  --bs-btn-color: #DE6262;
  --bs-btn-border-color: #DE6262;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d6abab;
  --bs-btn-hover-border-color: #DE6262;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #DE6262;
  --bs-btn-active-border-color: #DE6262;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(30, 18, 18, 0.12);
  --bs-btn-disabled-color: #DE6262;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #DE6262;
  --bs-gradient: none;
  width: 100px;
}

/*.layout {*/
/*  display: flex;*/
/*}*/



/*.main-content {*/
/*  flex: 1; !* Takes up the remaining space *!*/
/*  padding: 20px; !* Add padding around the content *!*/
/*}*/

/*.container {*/
/*  margin-top: 0; !* Adjust margin to align with your design *!*/
/*}*/
