/* Add this to your global CSS file or the CSS file specific to the component */

.layout {
  display: flex;

  background-color: #f0e6d7;
}



.main-content {
  flex: 1; /* Takes up the remaining space */
  padding: 20px; /* Add padding around the content */
  background-color: #f0e6d7;

/*  margin-left: -50px;*/
}

.container {
  margin-top: 0; /* Adjust margin to align with your design */
}

