<!--div class="menu-container">
  <h1>Menu</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of menuItems">
      <div class="menu-item d-flex flex-column">
        <img [src]="'http://localhost:8000/images/' + item.image" alt="{{ item.name_item }}">
        <div class="menu-details d-flex flex-column flex-grow-1">
          <h2>{{ item.name_item | slice:0:20 }}...</h2>
          <p>{{ item.description | slice:0:40 }}...</p>
          <span>${{ item.price }}</span>
        </div>
      </div>
    </div>
  </div>
</div-->
<div class="menu-container">
  <h1>Menu</h1>
  <!--div-- class="category-filter">
    <button class="category-button" (click)="filterByCategory('all')">All Categories</button>
    <button *ngFor="let category of categories"
            class="category-button"
            [ngClass]="{'active': selectedCategory === category.category_id}"
            (click)="filterByCategory(category.category_id)">
      {{ category.category_name }}
    </button>
  </div-->
  <div class="category-filter">
    <button class="category-button"
            [ngClass]="{'active': selectedCategory === 'all'}"
            (click)="filterByCategory('all')">All Categories</button>
    <button *ngFor="let category of categories"
            class="category-button"
            [ngClass]="{'active': selectedCategory === category.category_id}"
            (click)="filterByCategory(category.category_id)">
      {{ category.category_name }}
    </button>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of filteredMenuItems">
      <div class="menu-item d-flex flex-column" (click)="showDetails(item)">
        <img [src]="'http://localhost:8000/images/' + item.image" alt="{{ item.name_item }}">
        <div class="menu-details d-flex flex-column flex-grow-1">
          <h2>{{ item.name_item | slice:0:20 }}...</h2>
          <p>{{ item.description | slice:0:40 }}...</p>
          <span>${{ item.price }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for displaying full details -->
  <div class="details-modal" *ngIf="selectedItem">
    <div class="modal-content">
      <span class="close" (click)="closeDetails()">&times;</span>
      <h2>{{ selectedItem.name_item }}</h2>
      <img [src]="'http://localhost:8000/images/' + selectedItem.image" alt="{{ selectedItem.name_item }}">
      <p>{{ selectedItem.description }}</p>

      <!-- Star  -->
      <span class="rating-stars">
        <i class="fa fa-star"
           *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
           [ngClass]="getStarClass(selectedItem, i + 1)"
           (click)="selectRating(selectedItem, i + 1, $event)"></i>
      </span>

     <!-- star end-->

      <span>${{ selectedItem.price }}</span>
      <!-- Commentttt -->
      <div class="comment-section">
        <textarea [(ngModel)]="commentText" placeholder="Write your comment here..."></textarea>
      </div>
 <!-- comment end -->

      <button class="order-now" (click)="orderNow(selectedItem)">Order Now</button>
    </div>
  </div>
</div>
