<!--p>menu-page works!</p-->
<!--div class="menu-container">
  <h1>Menu</h1>
  <ul>
    <li >
      <div class="menu-item">

        <h2>Pizza</h2>
        <p>tastey good</p>
        <span>14.55</span>
      </div>
    </li>
  </ul>
</div-->
<!--p>menu-page works!</p-->
<!--div class="menu-container">
  <h1>Our Menu</h1>
  <ul>
    <li>
      <div class="menu-item">
        <img src="http://localhost:8000/images/imagee.jpg" alt="Pizza">
        <div class="item-details">
          <h2>Pizza</h2>
          <p>A delicious cheesy pizza with a crispy crust and fresh toppings.</p>
          <span>$14.55</span>
        </div>
      </div>
    </li>

  </ul>
</div-->

<!--div class="menu-container">
  <h1>Menu</h1>
  <ul>
    <li *ngFor="let item of menuItems">
      <div class="menu-item">
        <img [src]="'http://localhost:8000/images/' + item.image" alt="{{ item.name_item }}">
        <h2>{{ item.name_item }}</h2>
        <h2>{{ item.image }}</h2>
        <p>{{ item.description }}</p>
        <span>\${{ item.price }}</span>
      </div>
    </li>
  </ul>
</div-->


<div class="menu-container">
  <h1>Menu</h1>
  <ul>
    <li *ngFor="let item of menuItems">
      <div class="menu-item">
        <img [src]="'http://localhost:8000/images/' + item.image" alt="{{ item.name_item }}">
        <div class="menu-details">
          <h2>{{ item.name_item }}</h2>
          <p>{{ item.description }}</p>
          <span>\${{ item.price }}</span>
        </div>
      </div>
    </li>
  </ul>
</div>

