.input-group-text {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.input-group-text:hover {
  background-color: rgba(0, 0, 0, 0.56); /* Darker background color on hover */
  color: white; /* Change icon color to white for better contrast */
}
