
<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex">
      <button class="toggle-btn" type="button">
        <i class="lni lni-grid-alt"></i>
      </button>
      <div class="sidebar-logo">
        <a href="#">jood</a>
      </div>
    </div>

    <ul class="sidebar-nav">

      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="lni lni-user"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
           data-bs-target="#order" aria-expanded="false" aria-controls="order">
        <i class="bi bi-table"></i>
          <span>Manage orders</span>
        </a>
        <ul id="order" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a [routerLink]="['/orders']" class="sidebar-link">Orders List</a>
          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/order-items']" class="sidebar-link">Orders' Items</a>

          </li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
           data-bs-target="#order" aria-expanded="false" aria-controls="order">
          <i class="bi bi-table"></i>
          <span>Manage orders</span>
        </a>
        <ul id="reservation" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a [routerLink]="['/reservation']" class="sidebar-link">View Reservations</a>
          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/add-reservation']" class="sidebar-link">Add Reservation</a>

          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
           data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
          <i class="bi bi-calendar2-check-fill"></i>
          <span>Menu</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a [routerLink]="['/menu']" class="sidebar-link">Show menu</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link">Register</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
           data-bs-target="#order" aria-expanded="false" aria-controls="order">
          <i class="bi bi-bar-chart"></i>
        </a>
        <ul id="Reports" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
 
            <a [routerLink]="['/feedback-tracking']" class="sidebar-link">Feedback tracking</a>
          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/menu-item-orders']" class="sidebar-link">Menu item orders counts</a>

          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/monthly-sales']" class="sidebar-link">Monthly sales</a>

          </li>
          <li class="sidebar-item">
            <a [routerLink]="['/yearly-sales']" class="sidebar-link">Yearly sales</a>

          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
           data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
          <i class="lni lni-layout"></i>
          <span>Multi Level</span>
        </a>
        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
               data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
              Two Links
            </a>
            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Link 1</a>
              </li>
              <li class="sidebar-item">
                <a href="#" class="sidebar-link">Link 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="lni lni-popup"></i>
          <span>Notification</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="lni lni-cog"></i>
          <span>Setting</span>
        </a>
      </li>
    </ul>


    <div class="sidebar-footer">
      <a href="#" class="sidebar-link">
        <i class="lni lni-exit"></i>
        <span>Logout</span>
      </a>
    </div>
  </aside>

</div>
