.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-selector .form-control {
  flex: 1; /* Allow input field to grow */
  text-align: center;
  height: 30px; /* Reduced height */
  font-size: 14px; /* Smaller font size */
  max-width: 60px; /* Limit the width */
  padding: 0; /* Remove padding for a more compact look */
}

@media (max-width: 576px) {
  .quantity-selector .form-control {
    height: 25px; /* Further reduce for small screens */
    font-size: 12px; /* Smaller font size for small screens */
    max-width: 50px; /* Smaller width for small screens */
  }
}
.btn-place-order {
  background-color: #DE6262;
  color: white;
}

.btn-cancel-order {
  background-color: #7a7a52;
  color: white;
}

.btn-place-order:hover {
  background-color: #DE6262;
}

.btn-cancel-order:hover {
  background-color:#7a7a52;
}
