<div class="header">
<nav class="navbar navbar-expand-md ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logoo.png" alt="Logo" height="80px" width="170">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservation</a>
        </li>

      </ul>

       <ul class="navbar-nav ms-auto ">
        <li class="nav-item  d-flex align-items-center">
          <span>Hi, Admin</span> <img src="assets/img.png"  class="rounded-circle ms-1 me-5" style="width: 40px; height: 40px; border: 2px solid #959393;">
        </li>
      </ul>

    </div>
  </div>
</nav>
</div>
