.modal-backdrop {
  filter: blur(5px);
}

.modal-header{
  background-color: rgba(247, 241, 227, 0.5);
}
.modal-body{
  background-color: rgba(247, 241, 227, 0.5);
}
.modal-footer{
  background-color: rgba(247, 241, 227, 0.5);
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  color: #8D6E63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh; /* Ensures the card content is vertically centered */
}

.btn{
  background-color: #FF8C76;
}

.btn:hover{
  transform: scale(1.1);
}

#cancel{
  color: white;
  background-color: #d9534f;
}
