.modal-backdrop {
  filter: blur(5px);
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh; /* Ensures the card content is vertically centered */
}

.btn{
  color: white;
  background-color: #885133;
}

#cancel{
  color: white;
  background-color: #d9534f;
}
