
.selected {
  color: #ff9f1c;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

span {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

span:hover {
  transform: scale(1.2);
}

span.selected {
  color: #ff6b00;
}

.progress-bar.bg-orange {
  background-color: #FFA500; 
}


.btn-orange:hover {
  background-color: #e69500; 
  border-color: #e69500; 
}

.icon-large {
  font-size: 1.5rem; 
}


.btn-orange {
  background-color: #ffa500; 
  color: #fff;
  border: none;
}



.btn-secondary {
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc; 
}

.btn-secondary:hover {
  background-color: #f8f9fa; 
  color: #333;
}


