
.selected {
  color: #ff9f1c;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

span {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

span:hover {
  transform: scale(1.2);
}

span.selected {
  color: #ff6b00;
}

.progress-bar.bg-orange {
  background-color: #FFA500; /* Orange color */
}


.btn-orange:hover {
  background-color: #e69500; /* Slightly darker orange for hover effect */
  border-color: #e69500; /* Border color for hover effect */
}
/* General styles */
.icon-large {
  font-size: 1.5rem; /* Larger icon size */
}


.btn-orange {
  background-color: #ffa500; /* Orange background color */
  color: #fff;
  border: none;
}



.btn-secondary {
  background-color: transparent; /* Transparent background */
  color: #000;
  border: 1px solid #ccc; /* Border color */
}

.btn-secondary:hover {
  background-color: #f8f9fa; /* Light gray background on hover */
  color: #333;
}


