.modal {
  display: block;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-separator {
  border: none;
  border-top: 2px solid white;
}


.modal-content {
  background-color: #DE6262;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #DE6262;
  width: 90%;
  max-width: 600px;
  animation: fadeIn 0.3s ease-out;
}

.close {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  opacity: 0.8;
  transition: color 0.3s, opacity 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;

}

.close:hover,
.close:focus {
  color: #efeeed;
  opacity: 1;
  text-decoration: none;
}


.text-model {
  color: whitesmoke;
}

.text-header{
  color: #DE6262;
  margin: 3px;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 1fr 1fr 1fr 1fr 70px;;
  gap: 5px;
  padding: 5px;
}

.grid-header, .grid-item {
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
  color: #DE6262;
  box-sizing: border-box;
  border-color:#DE6262
}

.grid-header {
  font-weight: bold;
  background-color: #f4f4f4;
}




.search-wrapper {
  position: relative;
  display: flex;
}

.form-control-search {
  padding-right: 40px;
  border-radius: 15px;
  background-color: whitesmoke;
  color: #DE6262;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #DE6262;
  font-size: 1.2em;
  pointer-events: none;
}
.plus-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #DE6262;
  font-size: 1.8em;
  pointer-events: none;
}

.form-control{
  border-radius: 15px;
  background-color: whitesmoke;
  color: #DE6262;
}
.form-control:focus{
  outline: none;
}
.form-control:hover{
  border-color:#DE6262 }

.grid-header {
  font-weight: bold;
  background-color: #f4f4f4;
  border-radius: 15px;
  border-color:#DE6262
}
.grid-row {
  display: contents;
}

.avatar-group {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 2px solid #ddd;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar i {
  color: #333;
}

.grid-item button {
  border: none;
  background: none;
  cursor: pointer;
  color: #DE6262;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text-header {
  margin: 10px;
}

.search-container {
  width: auto;
  margin: 10px;
}


.btn-add{background: #DE6262; color:#fff; font-weight:600; border-color: white;width: 100%;height: 50px; margin-top: 15px}
