/* You can add global styles to this file, and also import other style files */

/* app-root {
  background-color: #f0e6d7;


background-size: cover;
background-position: center;

background-repeat: no-repeat;
min-height: 100vh;

display: flex;
flex-direction: column;


}*/

