<div class="container-fluid">
  <div class="row m-5 pe-5 ps-5 pb-5">
    <div class="col-md-3">
      <h3 class="h4 mb-4">Project Overview</h3>
      <ul class="list-unstyled fw-light">
        <li>Comprehensive restaurant management system</li>
        <li>Features: Reservations, Orders, Inventory, Feedback</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">Features</h3>
      <ul class="list-unstyled fw-light">
        <li>User Roles & Login</li>
        <li>Online Reservations</li>
        <li>Order Management</li>
        <li>Menu Updates</li>
        <li>Customer Feedback</li>
        <li>Sales Reporting</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">Reports</h3>
      <ul class="list-unstyled fw-light">
        <li>Sales by Month/Year</li>
        <li>Menu Item Orders</li>
        <li>Feedback Averages</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">Notes</h3>
      <ul class="list-unstyled fw-light">
        <li>Deadline: 3/9/2024</li>
        <li>Use GitLab for updates</li>
        <li>CI/CD Deployment Required</li>
        <li>Presentation at Semester End</li>
      </ul>
    </div>
  </div>
  <div class="row text-end mt-5 me-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h6 class="h6 fw-light text-nowrap">Copyright © 2018 E~something~. All rights reserved. Worldwide.</h6>
    </div>
    <h6 class="h6 fw-light text-nowrap">
      <a href="#" class="text-decoration-none text-dark">Contact Us |</a>
      <a href="#" class="text-decoration-none text-dark">Sitemap |</a>
      <a href="#" class="text-decoration-none text-dark h6 fw-light text-nowrap">Legal Disclaimer</a>
    </h6>
  </div>
</div>
