<div class="container-fluid">
  <div class="row m-5 pe-5 ps-5 pb-5">
    <div class="col-md-3">
      <h3 class="h4 mb-4">SOCIÉTÉ</h3>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">- Moodle Partner officiel</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Contact</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Presse</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Recrutements</h6></a>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">Solutions</h3>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Plateformes d'apprentissage</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Fonctionnalités</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Mask</h6></a>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">Offres</h3>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Académiques</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Organismes de formations</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Entreprise</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Formations Moodle</h6></a>
    </div>
    <div class="col-md-3">
      <h3 class="h4 mb-4">PARTENAIRES</h3>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Intelliboard</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Moodle & Microsoft</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">MoodleRooms</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Classe virtuelle - Collaborate</h6></a>
      <a href="#" class="text-decoration-none text-dark"><h6 class="h6 fw-light">Rosetta Stone</h6></a>
    </div>
  </div>
  <div class="row text-end mt-5 me-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h6 class="h6 fw-light text-nowrap">Copyright © 2018 E~something~. All rights reserved. Worldwide.</h6>
    </div>
    <h6 class="h6 fw-light text-nowrap">
      <a href="#" class="text-decoration-none text-dark">Contact Us |</a>
      <a href="#" class="text-decoration-none text-dark">Sitemap |</a>
      <a href="#" class="text-decoration-none text-dark h6 fw-light text-nowrap">Legal disclaimer</a>
    </h6>
  </div>
</div>
