<app-fullscreen-background></app-fullscreen-background>
<section id="AddTable">
  <form (ngSubmit)="onsubmit()">
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-6">
          <label for="numOfChairs">Enter Number Of Chairs To Add New Table: </label>
          <input #numOfChairs id="numOfChairs" type="number" class="form-control" placeholder="Enter Number Of Chairs" min="2" max="25">
        </div>
        <div class="col-md-3 col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-6 d-flex justify-content-center">
          <button type="submit" class="btn mt-3">Add New Table</button>
        </div>
        <div class="col-md-3 col-sm-1"></div>
      </div>
    </div>
  </form>
</section>

<section id="listTables">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 " *ngFor="let table of tables">
        <div class="card card-hover mb-4 w-100">
          <div class="card-body">
            <h5 class="card-title">Table ID: {{ table.TableID }}</h5>
            <p class="card-text">Chairs: {{ table.NumberOfChairs }}</p>
            <button id="cancel" class="btn btn-danger" (click)="deleteTable(table.TableID)">Delete Table</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
