<!-- dashboard.component.html -->
<div>
  <h1>Welcome, {{ Useeremail }}</h1>

  <!-- Display content based on userType -->
  <div *ngIf="userType === 'Admin'">
    <h2>Admin Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Management'">
    <h2>Management Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Customer'">
    <h2>Customer Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Kitchen Staff'">
    <h2>Kitchen Staff Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Wait Staff'">
    <h2>Wait Staff Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Bartender'">
    <h2>Bartender Dashboard</h2>
  </div>

  <div *ngIf="userType === 'Dishwasher'">
    <h2>Dishwasher Dashboard</h2>
  </div>

  <div *ngIf="!['Admin', 'Management', 'Customer', 'Kitchen Staff', 'Wait Staff' , 'Bartender' , 'Dishwasher'].includes(userType)">
    <h2>Unknown Role</h2>
    <p>The user type is not recognized. Please contact support.</p>
  </div>
</div>
